<!DOCTYPE html>
<html lang="en">
<head>
    <!--<link href="css/bootstrap.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <meta charset="UTF-8">
    <title>Upload new File</title>
    <h1>Upload new File</h1>
</head>
<body>
     <form method=post enctype=multipart/form-data>
       <p><input type="file" name="file">
       <p><input type="param1" name="param1" id="param1" placeholder="param1" >
          <!--<input type=submit value="Enter inputs">-->
          <button type="submit" class="btn btn-success  btn-lg">Submit</button>

     </form>

     {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}

     {% if inputvalue1 %}
        <p class=inputvalue1><strong>inputvalue1:</strong> {{ inputvalue1 }}
    {% endif %}

     {% if inputvalue2 %}
        <p class=inputvalue2><strong>inputvalue2:</strong> {{ inputvalue2 }}
    {% endif %}
</body>
</html>
